@use '../shared/styles/mixins' as *;

.wrapper {
  @include page-width;

  padding-block: var(--space-4) var(--space-7);
}

.title {
  font-size: var(--fs-h2);
  margin-bottom: var(--space-1);
}

.count {
  color: var(--color-text-secondary);
  font-size: var(--fs-small);
  margin-bottom: var(--space-5);
}
