@use '../../styles/mixins' as *;

.wrapper {
  display: flex;
  gap: var(--space-2);
  align-items: center;
  justify-content: center;

  margin-top: var(--space-6);
}

.button {
  @include icon-button;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.35;

    &:hover {
      border-color: var(--color-border);
      color: var(--color-icon);
    }
  }
}

.page {
  @include reset-button;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: var(--radius-m);

  font-weight: 600;
  color: var(--color-text-secondary);

  &:hover {
    border-color: var(--color-border);
    color: var(--color-text);
  }

  &.active {
    color: #fff;
    background-color: var(--color-primary);
  }
}
